body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.form {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.submit-button {
    width: 75px;
    height: 40px;
    color: #fff;
    background-color: #4E75FF;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.submit-button:hover {
    background-color: #6C8CFF;
}
.form-input {
    width: 272px;
    height: 40px;
    padding: 0 0 0 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: #808080;
    border: 1px solid #808080;
}
.form-input:hover {
    border-color: #000000;
}
.form-input:focus {
    border-color: #4E75FF;
    color: #2E2F42;
    outline: none;
}
.iziToast {
    max-height: 60px;
    padding: 0 0 20px 0;
}
.iziToast>.iziToast-close {
    margin: 0 15px 0 0;
    display: inline-block;
    width: 25px;
    background: url('../img/Vector.svg') no-repeat 50% 50%;
    opacity: 1;
}

.iziToast>.iziToast-body {
    margin: 0 0 0 25px;
    display: block;
    padding-left: 40px;
}
.iziToast>.iziToast-body .iziToast-text {
    margin: -5px 0 0;
}
.iziToast>.iziToast-body .iziToast-message {
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-right: 20px;
    margin-left: 12px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 20px;
}
.gallery .gallery-item {
    flex-basis: calc((90% - 40px) / 5);
    display: flex;
    transition: transform 200ms ease-in-out;
    border: 1px solid #808080;
}
.gallery .gallery-item:hover {
    transform: scale(1.05);
}
.gallery .gallery-image {
    display: block;
    min-width: 100%;
    height: 170px;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.title {
    padding: 0;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    color: #2E2F42;
    margin: 0;
    align-items: center;
}
.title>span {
    font-weight: 400;
}
.title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px;
    margin: 0;
}
.gallery-link>.wrapper {
display: flex;
flex-direction: column;
padding: 0;
}
section {
    padding: 0;
    margin: 0;
}